html {
	height:100%;
}

body {
	height:100%;
}

#map {
        height: 400px;
        width: 100%;
       }
.header{
	text-align: center;
}
.dropdown {
/*    margin-top:30%;
    margin-left:30%;*/
}

.border {
	border:2px solid red;;
}

.selector-control {
  font-size: 14px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;

}

font-effect-vintage
font-effect-emboss
font-effect-canvas-print

.mapSelection {
	display: block;

}
#upArrow {
	display: block;
	margin-bottom: -15px;
}
#downArrow {

}
.fa-caret-up {
color:blue;
display:block;
margin-bottom: -20px;
}
.fa-caret-down {
color:blue;
}