html {
	height:100%;
}

body {
	height:100%;
}
h3 {
	font-family:;
}
.shadow {
  box-shadow: 2px 4px 2px #e2e9f5;
}
.navbar-custom {
    background-color: #14688C;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
.main-body {
  height:100%;
  margin-top:-5vh;
}

#map {

        width: 100%;
       }
/*.map-div {
  height:1200px;
}*/

#map {
  width:90%;
  height:80%;
  margin:0 auto;
  margin-top:20vh;
}

#style-selector-control {
  margin-top:35vh;
}

#zoom{
  margin-top:20vh;
}


.border {
	border:2px solid red;;
}

.selector-control {
  font-size: 14px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;

}

.mapSelection {
	display: block;

}

#description {

        font-size: 15px;
        font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  #pac-container {   
    position: relative;
    top: 20vh;
    width: 180px;
}
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {

  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  width: 224px;

  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  top:-40px ;
  margin-top: 0px;
  z-index: 1;
}

}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}